$white: white;
$stainless: #EAEAEA;
$gunmetal: #5F5F5F;
$sky: #CDDAEC;
$rain: #C2D4EC;
$teal: #506869;
$tension: #789090;
$rosy: #D17878;
$overcast: #A3A3A3;
$plumy: #965959;
$vapor: #9ABBBB;
$mobile: 500px;
